@keyframes transformShapes {
  0%,
  100% {
    border-radius: 0; /* Persegi */
    transform: rotate(0deg) skew(0deg, 0deg);
  }
  20% {
    border-radius: 50%; /* Lingkaran */
    transform: rotate(0deg) skew(0deg, 0deg);
  }
  40% {
    border-radius: 0;
    transform: skewX(20deg); /* Jajar genjang */
  }
  60% {
    border-radius: 0;
    transform: skewX(-20deg) scaleY(1.1); /* Trapesium */
  }
  80% {
    border-radius: 0;
    transform: rotate(45deg) scale(1.1); /* Layang-layang */
  }
}

.animate-shapes {
  animation: transformShapes 10s infinite ease-in-out;
  transition: all 2s ease-in-out;
}

@keyframes meta {
  0% {
    opacity: 0;
  }

  5% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.aspect-ratio-iframe1 {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%; /* 4:3 aspect ratio */
}

.aspect-ratio-iframe1 iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@keyframes zoomIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.zoomIn {
  animation: zoomIn 1s linear;
}

@keyframes leleh {
  50% {
    opacity: 1;
    height: 110px;
    transform-origin: bottom;
    transform: translateY(10px);
  }
  100% {
    opacity: 0;
    height: 10px;
    transform-origin: bottom;
    transform: translateY(80px);
  }
}

.popup-background {
  background-color: rgba(255, 255, 255, 0.8); /* White transparent background */
  padding: 20px; /* Padding from screen edges */
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#popUp.show {
  display: flex; /* Use flex to center the content */
}

/* Popup Content */
.popup-content {
  background-color: #daffef; /* Background color of the actual popup */
  border-radius: 8px;
  padding: 16px; /* Internal padding of the popup content */
  position: relative;
  width: 100%;
  max-width: 500px; /* Max width for the popup */
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.satu {
  animation: meta 5s ease-in-out;
}
.dua {
  animation: leleh 3s ease-in-out;
  animation-delay: 3s;
}
.tiga {
  animation: muncul 1s ease-in-out forwards;
  animation-delay: 6s;
}

. @keyframes transisi {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.transisi {
  animation: transisi 1s forwards;
}

@keyframes transisi2 {
  50% {
    transform: translateX(150px);
  }
  0%,
  100% {
    transform: translateX(0);
  }
}

.transisi2 {
  animation: transisi2 2s infinite linear;
}

@keyframes transisi3 {
  50% {
    transform: translateX(180%);
  }
  0%,
  100% {
    transform: translateX(0);
  }
}

.transisi3 {
  animation: transisi3 1s infinite;
}

@keyframes trans {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(170px);
  }
}

.trans {
  animation: trans 2s forwards;
  animation-delay: 3s;
}

@keyframes scale {
  0%,
  100% {
    transform: scale(1) translateY(0px);
  }
  50% {
    transform: scale(1.5) translateY(-10px);
  }
}

.ikan {
  animation: scale 2s infinite linear;
  animation-delay: 0s;
}

#kotak1:active {
  opacity: 0.5;
}

#kotak2:hover {
  background-color: lightgray;
}

@keyframes moveAndRotate {
  0% {
    transform: rotate(0deg) translate(0);
  }
  50% {
    opacity: 1;
  }

  100% {
    transform: translateX(141px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes moveAndRotate1 {
  0% {
    transform: rotate(0deg) translate(0);
  }
  85% {
    opacity: 0;
  }

  100% {
    transform: translateX(141px) rotateY(180deg);
    opacity: 1;
  }
}

@keyframes muncul {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes muncului {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(141px);
  }
}

.animasi_cermin_tes {
  animation: moveAndRotate 3s linear forwards;
  animation-delay: 0s;
}

.animasi_cermin_tes2 {
  animation: moveAndRotate1 3s linear forwards;
  animation-delay: 0s;
}

.muncului {
  animation: muncului 3s linear forwards;
  animation-delay: 0s;
}

.titikA {
  animation: muncul 2s ease-in forwards;
  animation-delay: 0s;
}
.titikB {
  animation: muncul 2s ease-in forwards;
  animation-delay: 2s;
}
.titikC {
  animation: muncul 2s ease-in forwards;
  animation-delay: 4s;
}

.titikzz {
  animation: muncul 2s ease-in forwards;
  animation-delay: 10s;
}

.titiktrans {
  animation: muncul 1s ease-in forwards;
  animation-delay: 5s;
}

.green-border {
  border-color: #9ce89c;
}

.red-border {
  border-color: #ff5757;
}

@keyframes tespengetahuan3 {
  50% {
    transform: translateY(170%) skewX(12deg);
  }
  100% {
    transform: translateY(0) skewX(0);
  }
}

#tes_pengetahuan3 {
  animation: tespengetahuan3 6s linear infinite;
}

@keyframes tespengetahuan4 {
  50% {
    transform: translateY(170%) scale(0.5);
    border-radius: 0;
  }

  100% {
    transform: translateY(0) scale(1);
    border-radius: 50%;
  }
}

#tes_pengetahuan4 {
  animation: tespengetahuan4 6s linear infinite;
}

@keyframes garisA {
  to {
    width: 100px;
  }
}

.garisA {
  animation: garisA 2s forwards;
  animation-delay: 5s;
}

@keyframes garisB {
  to {
    width: 72px;
  }
}

.garisB {
  animation: garisB 2s forwards;
  animation-delay: 7s;
}

@keyframes garisC {
  to {
    width: 130px;
  }
}

.garisC {
  animation: garisC 2s forwards;
  animation-delay: 9s;
}

@keyframes nyatu1 {
  100% {
    transform: translateY(50px);
    opacity: 0;
  }
}

.nyatu1 {
  animation: nyatu1 2s forwards;
  animation-delay: 7s;
}

@keyframes nyatu2 {
  100% {
    transform: translateY(-50px);
    opacity: 0;
  }
}

.nyatu2 {
  animation: nyatu2 2s forwards;
  animation-delay: 7s;
}

@keyframes powerOut {
  25% {
    opacity: 0.5;
    transform: translate(0);
  }
  50% {
    opacity: 1;
  }
  75% {
    transform: translateX(53px);
    opacity: 1;
  }
  100% {
    transform: translateX(53px) translateY(-187px);
    opacity: 1;
  }
}

@keyframes powerOutsm {
  0% {
    transform: scale(0.5);
  }
  25% {
    opacity: 0.5;
    transform: scale(1.2);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  75% {
    transform: translateX(23px);
    opacity: 1;
  }
  100% {
    transform: translateX(23px) translateY(-142px);
    opacity: 1;
  }
}

@keyframes turun {
  0% {
    opacity: 1;
    transform: translate(0);
  }
  100% {
    transform: translateY(140px);
    opacity: 1;
  }
}

.power-out {
  animation: powerOut 3s ease-out forwards;
  animation-delay: 8s;
}

@media (min-width: 768px) {
  .power-outsm {
    animation: powerOutsm 3s ease-out forwards;
    animation-delay: 9s;
  }
}

.turun {
  animation: turun 2s ease-out forwards;
  animation-delay: 9s;
}

@keyframes membesar {
  100% {
    transform: translateX(190px) scale(1.5);
    opacity: 1;
  }
}

.membesar {
  animation: membesar 2s ease-out forwards;
  animation-delay: 5s;
}

@keyframes transformBox {
  25% {
    transform: translate(230px, 0) rotate(90deg) scale(1.5);
  }
  50% {
    transform: translate(230px, 70px) rotate(180deg) scale(1);
  }
  75% {
    transform: translate(0, 70px) rotate(270deg) scale(0.5);
  }
  100% {
    transform: translate(0, 100px) rotate(360deg) scale(1);
  }
}

.transformBox {
  animation: transformBox 4s ease-out forwards;
  animation-delay: 3s;
}

@keyframes rotasiline12 {
  0% {
    transform: translate(0, 0) rotate(0deg) scale(1);
  }

  100% {
    transform: translate(200px, 110px) rotate(360deg) scale(1);
  }
}

.rotasiline12 {
  animation: rotasiline12 3s ease-out forwards;
  animation-delay: 3s;
}

.munculine12 {
  animation: muncul 1s forwards;
  animation-delay: 6s;
}

.munculine13 {
  animation: muncul 1s forwards;
  animation-delay: 8s;
}

@keyframes rotasiline13 {
  100% {
    transform: translate(200px);
  }
}

.rotasiline13 {
  animation: rotasiline13 3s ease-out forwards;
  animation-delay: 4s;
}
